<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>729288683168-j1ltcio0e71625dmo87t679g1efbtj6m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.729288683168-j1ltcio0e71625dmo87t679g1efbtj6m</string>
	<key>API_KEY</key>
	<string>AIzaSyDdakT5YniCsS_N33wqWRATUb19dsPe2p0</string>
	<key>GCM_SENDER_ID</key>
	<string>729288683168</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.1836.Nika</string>
	<key>PROJECT_ID</key>
	<string>nikamatch</string>
	<key>STORAGE_BUCKET</key>
	<string>nikamatch.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:729288683168:ios:74090b9b919fe114dca3c5</string>
	<key>DATABASE_URL</key>
	<string>https://nikamatch.firebaseio.com</string>
</dict>
</plist>